<div>
    <div>Welcome User</div>
    <a style="cursor:pointer" class="LogoutButton" href="">Logout</a>
    <button type="button" style="cursor:pointer" class="LogoutButton">Logout</button>
</div>

    {{--  <div class="DangNhapButton" style="cursor: pointer" onclick="FormDangNhap()" >Đăng Nhập</div><div id="acount" class=""></div>  --}}
