<div class="Card">
    <img src="' . $sanpham[3] . '" alt="' . $sanpham[1] . '" style="width: 200px; height: 200px"/>
    <h4>' . $sanpham[1] . '</h4>
    <p class="price">' . $num . '₫</p>
    <p>' . $sanpham[5] . '</p>
    <p>
        <button id=' . $sanpham[0] . ' class="btn_addcart">
            Add to Cart
        </button>
    </p>
</div>